<!-- <div class="flex flex-col justify-center items-center">
  <p>This is shared component (as module) using mat-datepicker refer scam-demo folder</p>
  <mat-form-field appearance="outline" formControlName="control">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->
<div class="w-full text-default uppercasce px-12 py-20 text-xl text-text-title bg-background-body">
  <span class="px-12 block laptop:inline-block uppercase">video games</span>  
  <span class="px-12 block laptop:inline-block uppercase">contact</span>  
</div>