
<div class="bg-background-body flex px-20">
    <div class="w-full laptop:w-1/4">
        <div class="bg-background-card p-6 text-text-default">
            <p class="text-lg py-3 text-text-title">Filter Results</p>
            <div class="py-4">
                <label for="name-input" class="text-text-title block mb-2 text-sm font-medium  dark:text-gray-300">Name (contains)</label>
                <input type="text" (change)="onNameFilter($event)"  placeholder="Text String"  id="name-input" class="block border-none p-2 w-full  sm:text-xs focus:ring-blue-500 dark:bg-gray-700 bg-background-input">
            </div>
            <div class="py-4">
                <label for="score" class="text-text-title block mb-2 text-sm font-medium">Minimum Score</label>
                <input type="number" placeholder="1 - 10" (change)="onScoreFilter($event)"  id="score" class="text-text-default block border-none p-2 w-full  sm:text-xs focus:ring-blue-500 dark:bg-gray-700 bg-background-input">
            </div>
            <label for="countries" class="text-text-title block mb-2 text-sm font-medium">Order By</label>
            <div class="flex items-center">
                <div>
                    <button (click)="onOrder()" type="button"  class="bg-button-default py-1 hover:opacity-80"
                    [ngClass]="{'hidden': onAsc === true}">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
                    </button>
                    <button (click)="onOrder()" type="button" [ngClass]="{'hidden': onAsc === false}" class="bg-button-default py-1 hover:opacity-80">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M8 7l4-4m0 0l4 4m-4-4v18" /></svg>
                    </button>
                </div>
                <select id="orderLists" class="text-text-default bg-background-input border-none text-sm block w-full p-2.5" (change)="onSort($event)">
                    <option *ngFor="let list of orderList" [value]="list.key">
                        {{list.label}}
                    </option>
                </select>
                
            </div>
            <div class="flex">
                <button class="ml-auto bg-button-default hover:opacity-80 text-text-white font-bold py-2 px-4 mt-10">Clear</button>
            </div>
        </div>
    </div>
     
    <div class="w-full laptop:w-3/4 pl-8">
        <!-- <div class="flex items-center justify-center ">
            <div *ngIf="spinnerService.visibility | async" class="w-40 h-40 border-t-4 border-b-4 border-green-900 rounded-full animate-spin"></div>
        </div>    -->
        <div *ngFor="let item of filterList">
            <div class="bg-background-black pl-20 mb-5">
                <div class="bg-background-card p-5 flex">
                    <div class="w-10/12">
                        <p class="text-text-title text-lg">{{item.name}}</p>
                        <p class="text-text-default pb-3">Release Date: {{item.first_release_date}} </p>
                        <span class="text-text-default">
                            [Summary]: {{item.summary}}
                        </span>
                    </div>
                    <div class="w-2/12 flex justify-center items-center">
                        <span class="bg-button-default p-3 rounded-full w-8 h-8 flex justify-center items-center">
                            <span class="text-text-default font-extrabold text-lg">{{item.rating | number : '1.0-0'}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>